// for screen width (1200 and more)
footer
	background-color: #373c43
	color: #808793
	padding: 10px
	padding-top: 24px
	padding-left: 30px
	p
		font-family: Arial
		font-size: 12px
		margin: 5px 0
		line-height: 17px
		margin-bottom: 12px
	// height: 100px


// for screen width (993...1199)
@media screen and (max-width: 1200px)
	// footer
	// 	background: red

// for screen width (769...992)
// @media screen and (max-width: 992px)


// for screen width (481...768)
@media screen and (max-width: 768px)
	footer
		background: brown

// for screen width (321...480)
@media screen and (max-width: 480px)
	footer
		background: green

// for screen width (1...320)
@media screen and (max-width: 320px)
	footer
		background: orange