@font-face
	font-family: "OpenSansBold"
	src : url("../fonts/OpenSans-Bold.ttf")
body
	background-color: white
	margin: 0
	padding: 0
h1,h2,h3,p
	margin: 0
	padding: 0
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
	-webkit-appearance: none

input[type='number'] 
	-moz-appearance: textfield


.wrapper
	// background-color: pink
	width: 960px
	margin: 0 auto
	// height: 900px
	// display: flex
	@import 'modules/_aside.sass'
	.content_part
		float: right
		width: 637px
		// background-color: yellow
		@import 'modules/_header.sass'
		@import 'modules/_section.sass'
		@import 'modules/_footer.sass'
@import './media.sass' 	
